<div class="container">
  <form class="questionaire" action='/view'method='get'>
    <div class="question-container hidden">
      <select name="flight">
        <% @flights.each do |flight| %>
          <option value="<%= flight.path_name %>"><%= flight.path_name %></option>
        <% end %>
      </select>
      <button class="next-item">Start Personality Quiz</button>
    </div>
    <% @questions.each do |question|%>
      <div class="question-container hidden">
        <h2><%= question.title %></h2>
        <ul>
          <% question.answers.each do |answer| %>
            <li><input type="radio" name="<%= question.id %>" value="<%= answer.content %>"><%= answer.content %></li>
          <% end %>
        </ul>
        <button class="next-item">Next</button>
      </div>
    <% end %>
  </form>
</div>

<div class="movie-list-template" style="display:none">
  <div>
    <h1></h1>
    <img src="">
    <p>Click to see more Information<p>
  </div>
  <div>
    <p>Movie Description</p>
    <p></p>
    <p>Genres</p>
  </div>
</div>