<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieRecommender</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="
https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="hero-image-container">
    <%= image_tag('flight_image.jpg', class: "hero-image") %>
  </div>

<%= yield %>

</body>
</html>
